
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table style="border: 1px solid black">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên môn học </th>
                <th>Điểm học kì 1</th>
                <th>Điểm học kì 2</th>
                
            </tr>
        </thead>
        <tbody>
            {{body}}
        </tbody>
    </table>
</body>
</html>
